@charset "UTF-8";

/* ===============================================
Base
=============================================== */

/*
  Reset
----------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Style */
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  color: #333;
  /* background-color: #fbdcdc;
  background-image: linear-gradient(19deg, #fbdcdc 0%, #eee8fd 100%); */
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 2em;
}
/* Mobile CSS Rules */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5em;
  }
}

/* -------------------------------------
Header
------------------------------------- */
.l-header-wrapper {
  background-color: #f7f2ee;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 60px;
}

.header-logo {
  font-size: 40px;
}

nav ul {
  display: flex;
}
nav ul li a {
  padding: 8px 20px;
  position: relative;
  display: block;
}

nav ul li a::before,
nav ul li a::after {
  border-bottom: solid 2px #333;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 0;
}

nav ul li a::before {
  left: 50%;
}
nav ul li a::after {
  right: 50%;
}
nav ul li a:hover::before,
nav ul li a:hover::after {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .header-logo {
    font-size: 32px;
    padding: 0.75em 0;
    display: block;
  }

  .header {
    height: auto;
    flex-direction: column;
  }

  nav ul li a {
    padding: 16px 8px;
    text-align: center;
  }
}
/* -------------------------------------
Main
------------------------------------- */
.l-wrapper {
  margin: 2em;
}

/* Mobile CSS Rules */
@media screen and (max-width: 768px) {
  .l-wrapper {
    margin: 1em;
  }
}

.primary-msg {
  text-align: center;
  margin: 2em;
  font-size: 1.5em;
  position: relative;
  padding: 1rem;
}

.primary-msg:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #ceac92;
}

.l-wrapper-p {
  text-align: center;
  max-width: 800px;
  width: 70%;
  margin: 1em auto;
  display: block;
  padding: 1em;
}

.l-wrapper-content {
  display: inline-block;
  text-align: left;
  line-height: 1.5em;
}

/* -------------------------------------
About me
------------------------------------- */
.content {
  max-width: 1000px;
  height: 698px;
  margin: 100px auto;
  position: relative;
}

.text {
  max-width: 680px;
  background-color: #f7f2ee;
  padding: 0 160px 84px 84px;
  position: absolute;
}
.img {
  max-width: 400px;
  position: absolute;
  top: 140px;
  right: 20px;
  border: 5px solid #ceac92;
}

/* Mobile & Tablet CSS Rules */
@media screen and (max-width: 1200px) {
  .content {
    height: auto;
    position: static;
    margin: 0;
  }

  .text {
    max-width: 100%;
    padding: 20px 60px 40px 60px;
    position: static;
  }

  .text h2 {
    margin-top: 0;
  }
  .img {
    max-width: 100%;
    position: static;
    height: 50%;
  }
}

/* -------------------------------------
Footer
------------------------------------- */
.l-footer-copyright {
  text-align: center;
  font-size: 0.75em;
  background-color: #666;
  color: #fefefe;
  padding: 2em;
}
