@charset "UTF-8";

/* ===============================================
Base
=============================================== */

/*
  Reset
----------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Default Style */
html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 2em;
}
/* Mobile CSS Rules */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5em;
  }
}
h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: bold;
  padding: 16px 0 0 16px;
}

time {
  font-size: 0.75em;
  margin-bottom: 2em;
}

p {
  line-height: 1.5;
  padding: 1em;
}

.l-wrapper-container {
  max-width: 1000px;
  width: 80%;
  margin: 1em auto;
  display: block;
  padding: 1em;
}
/* Mobile CSS Rules */
@media screen and (max-width: 767px) {
  .l-wrapper-container {
    width: 100%;
  }
}
.border-img {
  display: block;
  margin: 2em auto;
}

.l-wrapper-container h1 {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-left: 4px solid #ceac92;
  color: #ceac92;
}

.l-wrapper-container h2 {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-left: 5px solid #ceac92;
  background: #f4f4f4;
}

blockquote {
  position: relative;
  padding: 35px 15px 10px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #fefefe;
  color: #777777;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  margin: 1em;
}

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  color: #ceac92;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
}

/* page: value */
.h3-icon:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  color: #ceac92;
  font-size: 1em;
}

.btn {
  cursor: pointer;
}

.blog-date {
  padding-left: 20px;
}

.blog-date .btn {
  padding: 0.5em 0.5em;
  color: #fff;
  background-color: #333;
  font-size: 0.75em;
}
.blog-date .btn:hover {
  color: #fff;
  background-color: #666;
}
.blog-datetime {
  margin-left: 20px;
  margin-bottom: -20px;
}
/* Default flex */
.flex {
  display: flex;
  justify-content: space-between;
}

.flex .img-blog {
  width: 40%;
  margin: 0;
  padding: 1em 0 0 0;
  overflow: hidden;
  position: relative;
  height: auto;
}

.flex .flex-text {
  width: 60%;
  margin: 0 0 0 10px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .flex .img-blog {
    width: 100%;
  }

  .flex .flex-text {
    width: 100%;
  }
}
